:root {
    --primary: white;
    --secondary: rgb(106, 13, 173);
    --hover: rgb(166, 74, 201);
    --main-font: "Playfair Display", serif;
    --nav-font: "Montserrat", sans-serif;
    --third-font: "open sans", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    overflow: -moz-scrollbars-none; /* For Firefox */
}

/* For webkit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
    display: none;
  }

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
    box-shadow: 0 2px 5px rgba(128, 128, 128, .5);
}
.nav-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 80%;
}
li {
    list-style: none;
}
ul > li > a {
    text-decoration: none;
    font-family: var(--nav-font);
    font-weight: lighter;
    color: black;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}
.nav-container>li > a:hover{
    background-color: var(--secondary);
    color: white;
    box-shadow: 0 2px 5px gray;
}
.btn, .hire-me > button {
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--primary);
    transition: background-color,box-shadow 300ms ease-in-out;
    font-size: 1em;
}
.btn:hover, .hire-me > button:hover {
    background-color: var(--hover);
    box-shadow: 2px 2px 5px gray;
}
/* NAVIGATION ENDS HERE****************************** */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 7rem;
    margin-bottom: 10rem;
}
.hero-title {
    font-size: 2rem;
    font-family: var(--main-font);
    letter-spacing: 0.3rem;
    margin: 0;
}
.name {
    color: var(--secondary);
}
.profession {
    margin-top: .75rem;
    font-family: var(--third-font);
}
.btn {
    margin-top: 1rem;
}
.btn > a {
    text-decoration: none;
    color: var(--primary);
}
.btn + .btn {
    margin: 1.2rem;
}
.btn.projects-btn {
    background-color: var(--primary);
    border: solid 1px var(--secondary);
    color: var(--secondary);
}
.btn.projects-btn:hover {
    background-color: rgb(188, 138, 207);
    color: var(--primary);
}
/* HERO SECTION ENDS HERE******************************** */
#about-me {
    background-color: var(--secondary);
    text-align: center;
    margin-bottom: 2rem;
    padding: 2.5rem;
}
.about-me-title {
    font-family: var(--main-font);
    color: white;
    font-size: 2.5rem;
    margin: 0;
    /* padding: 2rem; */
    text-shadow: 1px 1px 5px black;
}
.about-me-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.my-pic{
    display: block;
    height: 600px;
    width: 600px;
}
.about-me-details {
    max-width: 600px;
    text-align: left;
    background-color: var(--primary);
    color: black;
    font-family: var(--third-font);
    line-height: 1.5rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 2px 2px 4px black, -2px -2px 4px black;
}
/* ABOUT ME SECTION ENDS HERE************************** */

#skills {
    text-align: center;
    font-family: var(--main-font);
    font-size: 2rem;
}
.skill-title {
    margin-bottom: 0;
}
.skill-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.skill {
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: var(--primary);
    border-radius: 5px;
    margin: 2rem;
    border: 3px solid var(--secondary);
    transition: box-shadow 300ms ease-in-out;
}
.skill:hover {
    box-shadow: 2px 2px 10px var(--secondary), -2px -2px 10px var(--secondary);
}
.skill > ul {
    padding-left: 0;
    color: black;
    line-height: 2rem;
}
.skill > h3 {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 2rem;
    margin: 0;
}
/* SKILLS SECTION ENDS HERE *********************** */

/* PROJECTS SECTION SKIPPED BECAUSE I DON'T HAVE PROJECTS AT THIS MOMENTS */

#contact {
    background-color: var(--secondary);
    color: var(--primary);
    text-align: center;
}
.contact-title {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    font-family: var(--main-font);
}
.socials {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-top: 1rem;
}
.socials > li > a {
    color: var(--hover);
    font-size: 1.2rem;
    transition: color 300ms ease-in-out;
}
.socials > li > a:hover {
    color: var(--primary);
}
footer {
    text-align: center;
}
.copyright {
    background-color: var(--secondary);
    margin: 0;
    padding-bottom: 1rem;
    color: gray;
    font-size: .75rem;
}